#root {
  height: 100dvh;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body {
  overflow: hidden;
  background-color: var(--color-background); /* Fondo claro para el 치rea de contenido */
  color: var(--color-text-main);
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0; /* Necesario para ocultar los botones completamente en algunos navegadores */
}

/* 2. Para Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}

.sidebar { /* El 치rea amarilla de la izquierda */
  background-color: var(--color-sidebar-bg);
  /* El ancho depender치 de tu layout, p.ej: width: 200px; */
}

.main-content { /* El 치rea roja de la derecha */
  background-color: var(--color-background); /* Usamos el color de fondo claro */
}

#sectList:hover > span > svg {
  scale: 2.1;
  opacity: 9%;
  transition: all 0.4s 0s;
}

.rounded-edge {
  aspect-ratio: 3/2;
  /* update the 85% to control the curvature
     you can also update the 50% to control the position
  */
  clip-path: ellipse(50% 100% at 50% 0%);
  /* background: linear-gradient(var(--color-primary), transparent); */
}

@media (prefers-reduced-motion: no-preference) {

}
