#root {
  height: 100dvh;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body {
  background-color: var(--color-background); /* Fondo claro para el 치rea de contenido */
  color: var(--color-text-main);
}

.sidebar { /* El 치rea amarilla de la izquierda */
  background-color: var(--color-sidebar-bg);
  /* El ancho depender치 de tu layout, p.ej: width: 200px; */
}

.main-content { /* El 치rea roja de la derecha */
  background-color: var(--color-background); /* Usamos el color de fondo claro */
}

@media (prefers-reduced-motion: no-preference) {

}
